
.background{
  background-color: #004643;
  color: #abd1c6;
}
.H1{
    text-align: center;
    font-size: 50px;
}
.P1{
    text-align: center;
    font-size: 25px;
}
.text-flex{
  flex-direction: column;

}
.container {
    padding: 5px;
    height: 200px;
    width: 1100px;
    margin: 0 auto;
    padding-left: 10px;
    display: flex;
    background-color: #abd1c6;
  }
  .containerr {
    background-color: #e8e4e6;
    padding: 5px;
    height: 200px;
    width: 1100px;
    margin: 0 auto;
    padding-left: 10px;
    display: flex;
  }
.text{
    padding-bottom: 10px;
    padding-left: 60px;
    font-size: 25px;
    color: #001e1d;
  }
  .textt{
    padding-bottom: 10px;
    padding-left: 60px;
    font-size: 25px;
  }

  .flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;  
  }

 .maindiv {
  margin: 10px;
  width:330px;
  height: 350px;
  background-color:#abd1c6;
  margin-left: 5px;
  border: doubl;
  
 }  

 .button{
  padding: 20px 20px;
  margin: 50px;
  text-align: center;
  padding-bottom: 25px;
  font-size: 20px;
  border:solid;
  border-color: 8px wheat;
  padding: 20px 20px 20px 20px ;
  background-color:hsl(153, 32%, 46%);
  color:white;
  border-radius: 30px;
 }
 button:hover{
  height: 500px;
  width: 400px;
  border: 60px;
  background-color:#5f8b89;
 }
 .paragraph{
  height: 500px;
  width: 400px;
 }
 .header{
     
     height: 500px;
     width: 1500px;
     background-color:#001e1d;
     color: #e8e4e6;
     display: flex;
    justify-content: center;
    padding-top:80px;
    font-size: 20px;
 }
 .padding{
  padding-left: 40px;
 }
 .icons{
  padding-top: 20px;
  display: flex;
 }

 